#main-grid {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;   
    gap: 40px;
}

#left img {
    display: block;
    margin: 20px auto;
    max-width: 60%;
}

#left h2 {
    text-align: center;
    margin-top: 30px;
}

.wrap-image {
    float: right;          
    margin: 20px 0 20px 20px;
    max-width: 40%;     
    height: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}

.buttons a {
    background-color: #000080;
    color: white;
    padding: 14px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s;
}

.buttons a:hover {
    background-color: #800020;
}

#me {
    margin-top: 40px;
    text-align: center;
}

#me img {
    width: 160px;
    border-radius: 10px;
}

#right {
    border: 5px solid #ddd;
    padding: 15px;
}

#right img {
    width: 90%;
    max-width: 180px;
    display: block;
    margin: 0 auto 10px;
}

#right p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

main > h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

main > img {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 350px;
}

main > h3 {
    text-align: center;
    margin-top: 10px;
    color: #555;
}
